@keyframes animate-s1 {
    0%{ transform: translateX(-20px);}
    50%{ transform: translateX(+20px);}
    100%{ transform: translateX(-20px);}
}

@keyframes animate-s2 {
    0%{ transform: translateX(+20px);}
    50%{ transform: translateX(-20px);}
    100%{ transform: translateX(+20px);}
}

@keyframes animate-s3 {
    0%{ transform: translateY(-20px);}
    50%{ transform: translateY(+20px);}
    100%{ transform: translateY(-20px);}
}

@keyframes animate-s4 {
    0%{ transform: translateY(+20px);}
    50%{ transform: translateY(-20px);}
    100%{ transform: translateY(+20px);}
}

@keyframes animate-me {
    50%{transform: translateY(+10px);}
    100%{transform: translateY(0px);}
}

@keyframes pulse {
    100%
    {
        transform: scale(3.5);
        opacity: 0;
    } 
}

@keyframes pulse-tab-mob {
    100%
    {
        transform: scale(1.7);
        opacity: 0;
    } 
}