@media (width<481px){

    .logo h1{
        font-size: 3.5vw;
    }
    
    header ul li{
        /* background-color: red; */
        padding: 5px 15px;
        border-radius: 4px;
    }
    
    header ul li a{
        font-size: 4vw;
    }

    header label img{
        width: 8vw;
    }

    .helloWrapper img{
        width: 35vh;
        position: absolute;
        right: 7vw;
        bottom: 0;
    }
    
    .s1{
        width: 110vw;
        top: 62vh;
        right: -20%;
    }
    
    .s2{
        width: 30vw;
        top: 85vw;
        right: -20%;
    }
    
    .s3{
        width: 13vw;
        top: 50vh;
        right: 14%;
    }
    
    .s4{
        width: 25vh;
        top: 45vh;
        right: 40vh;
    }

    .left-text-container{
        width: 94%;
        height: 42%;
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .intro p{ 
        margin-top: 1%;
        font-size: 4.5vw;
        padding: 1vw;
    }
    
    .role p,span{
        font-size: 4.5vw;
        padding: 1vw;
    }
    
    .summary p{
        font-size: 1.5vh;
        font-family: pop-r;
        text-align: center;
        padding: 0 20px;
    }
    
    .btn-wrapper{
        width: 58%;
        padding-bottom: 0;
        align-self: center;
    }
    
    .btn-wrapper button{
        border-radius: 5px;
        font-size: 3.5vw;
        padding: 2vw 5vw;
    }

    /* ==================================  Block 2 =================================== */

    .eeWrapper{
        padding: 0 0 0 7vw;
    }
    .sectionLabel{
        padding: 0 3vw;
        border-bottom: 2px solid var(--grey);
    }

    .sectionContent img{
        width: 4.5vw;
        top: 2vw;
    }

    .sectionLabel h1{
        font-size: 7.5vw;
        margin-left: 3vw;
    }

    .sectionContent h2{
        font-size: 5.5vw;
    }
    
    .text-bold{
       font-size: 4vw;
    }
    
    .text-light{
        font-size: 3.5vw;
    }

    /* ==================================  Block 3 =================================== */

    .skillsContainer{
        padding-top: 10vh;
        align-items: center;
    }

    .skills-project-wrapper{
        /* background-color: black; */
        width: 95%;
    }

    #skilledMe{
        width: 13vw;
    }

    .cards,.git-card{
        height: 70vw;
    }

    .card-title{
        font-size: 5.5vw;
    }
    
    .card-title span{
        font-size: 3vw;
    }

    .card-content{
        font-size: 3vw;
    }
    
    .card-techs img{
        width: 6vw;
        aspect-ratio: 1;
        margin-right: 3vw;
    }
    
    .cards button{
        font-size: 3vw;
    }

    /* ============================  Block 4  ================================== */

    .artCollageBlock{
        display: flex;
        align-items: center;
        /* background-color: blue; */
        padding: 14vw 7vw 7vw 7vw;
    }

    .artCollageBgTape{
        height: 3%;
    }

    .artCollage{
        aspect-ratio: 1/2;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,1fr);
    }

    .artCollagecomp1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    .artCollagecomp2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .artCollagecomp3{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .artCollagecomp4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .artCollagecomp5{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .artCollagecomp6{
        grid-column: 2/4;
        grid-row: 3/5;
    }
    
    .artCollagecomp7{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    
    .artCollagecomp8{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .artCollagecomp9{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
    .artCollagecomp10{
        display: block;
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    .artCollagecomp11{
        display: block;
        grid-column: 3/4;
        grid-row: 6/7;
    }

   /* ==================================  Block 5 =================================== */

   .contact-section-main{
    /* background-color: red; */
    width: 100%;
    padding: 0 7vw;
    margin-top: 7vw;
    }

    .contact-block1{
        width: 100%;
    }

    .contact-block1 p{
        font-size: 3.5vw;
    }

    .contact-creds{
        font-size: 3vw;
        gap: 2vw;
        margin: 2.5vw 0;
    }

    .contact-creds i{
        font-size: 3vw;
        padding: 0;
    }

    .contact-block2{
        width: 100%;
        height: 28vh;
        order: 1;
        /* background-color: aqua; */
    }

    .pulse{
        width: 35%;
        border: 0.5vw solid black;
    }

    .pulse::before{
        animation: pulse-tab-mob 3s ease infinite;
    }

    .pulse::after{
        animation: pulse-tab-mob 1.5s ease infinite;
    }

/* ==================================  Block 6 =================================== */
    
    .chat-interface{
        margin-top: 4vh;
    }
    #s-name,#s-mail{
        font-size: 3.5vw;
        border-bottom: 0.5vw solid var(--grey);
    }
    
    #s-msg{
        font-size: 3.5vw;
        margin: 5vw 0;
        border-bottom: 0.5vw solid var(--grey);
    }
    
    #submit-btn{
        font-size: 3vw;
        padding: 2vw 0;
    }
   
}

/* ==================================  Footer =================================== */

footer{
    height: 35vw;
    padding: 8vw 0;
}