@media (width<821px) {

    header{
        padding: 0 7vw;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
    }

    .logo img{
        display: none;
    }

    .logo h1{
        font-size: 2.5vw;
    }

    header ul{
        position: fixed;
        width: 100%;
        height: 90vh ;
        top: 10vh;
        right: -100%;
        background-color: var(--grey);
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding-top: 10%;
    }
    
    header ul li{
        /* background-color: red; */
        padding: 5px 15px;
        border-radius: 4px;
        margin-bottom: 2vh;
    }
    
    header ul li a{
        font-size: 4vw;
    }

    header ul li a:hover{
        background: var(--grad2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .active{
        background: var(--grad2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header ul img{
        display: block;
        position: fixed;
        width: 18vh;
        bottom: 0;
        right: 0;
        transform: translateX(70vw);
        transition: all 0.8s;
    }

    header label{
        display: block;
    }

    header label img{
        width: 6vw;
    }

    #click:checked ~ ul{
        right: 0%;
    }

    #click:checked ~ ul img{
        transform: translateX(0);
    }

    .helloWrapper{
        height: 83vh;
    }

    .helloWrapper img{
        width: 35vh;
        position: absolute;
        right: 7vw;
        bottom: 0;
    }
    
    .s1{
        width: 100vw;
        top: 60vh;
        right: -14vh;
    }
    
    .s2{
        width: 25vw;
        top: 55%;
        right: -15%;
    }
    
    .s3{
        width: 10vw;
        top: 50vh;
        right: 7.5vh;
    }
    
    .s4{
        width: 18vh;
        top: 46vh;
        right: 37vh;
    }

    .left-text-container{
        width: 90%;
        height: 46%;
    }
    
    .intro p{ 
        margin-top: 1%;
        font-size: 5vw;
        padding: 0 1vw;
    }
    
    .role p,.role span{
        font-size: 5vw;
        padding: 0 1vw;
    }

    .intro h1{
        font-size: 10vw;
    }

    .summary p{
        font-size: 2.5vw;
        font-family: pop-r;
    }
    
    .btn-wrapper{
        width: 48%;
        padding-bottom: 0;
    }
    
    .btn-wrapper button{
        border-radius: 5px;
        font-size: 2.5vw;
        padding: 1.5vw 4.5vw;
    }

    /* ==================================  Block 2 =================================== */

    .eeWrapper{
        display: block;
    }

    .sectionContainer{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        width: 100%;
        padding-top: 10vh;
    }

    .edu{
        
    }

    .sectionLabel{
        width: 80%;
        margin-bottom: 1.5vh;
        border-bottom: 2px solid var(--grey);
    }

    #coolme{
        width: 10vw;
    }
    
    #grad{
        width: 14vw;
    }

    .sectionLabel h1{
        font-size: 6vw;
        margin-left: 2vw;
    }

    .sectionContent{
        margin-top: 7vw;
    }

    .sectionContent img{
        width: 4vw;
        top: 1vw;
    }

    .sectionContent h2{
        font-size: 4vw;
        margin-left: 7vw;
    }
    
    .text-bold{
       font-size: 2.7vw;
       margin-left: 7vw;
    }
    
    .text-light{
        font-size: 2.2vw;
        margin-left: 7vw;
    }

    /* ==================================  Block 3 =================================== */

    .hideEl1{
        display: none;
    }

    .hideEl2{
        display: block;
    }

    .skillsBgTape{
        height: 30%;
    }

    .skillsContainer{
        padding-top: 10vh;
        align-items: start;
    }

    .skills-project-wrapper{
        /* background-color: black; */
        margin-top: 7vw;
    }

    #skilledMe{
        width: 12vw;
    }

    .cards{
        min-width: 100%;
        height: 60vw;
        pointer-events: all;
        align-items: start;
        border-radius: 2vw;
    }

    .card-tape{
        width: 23%;
        height: 100%;
        background: var(--grad2);
        position: absolute;
        border-radius: 0;
        top: 0;
        left: 0;
    }
    
    .card-icon{
        width: 25%;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 20%;
        top: 7%;
        left: 5%;
        transform: translateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card-title{
        font-size: 5vw;
        text-align: start;
        line-height: 1.1;
        margin-top: 9%;
        color: var(--dc);
        margin-left: 35%;
    }
    
    .card-title span{
        font-size: 2.5vw;
        position: relative;
        left: -1vw;
    }
    
    .card-content{
        text-align: start;
        padding: 0;
        color: grey;
        font-size: 2.5vw;
        width: 55%;
        margin-left: 35%;
    }

    .card-techs{
        margin-left: 35%;
    }
    
    .card-techs img{
        width: 6vw;
        aspect-ratio: 1;
        margin-right: 3vw;
    }
    
    .cards button{
        width: 55%;
        font-size: 2.5vw;
        padding: 2vw 0;
        margin-left: 35%;
        margin-bottom: 3vw;
        border-radius: 1vw;
    }

    .cards:hover{
        margin-top: -1vh;
    }

    /* ================================== Block 4 ==================================== */

    .artCollageBlock{
        align-items: center;
        padding: 5vw 5vw;
    }

    .artCollageBgTape{
        height: 40%;
    }

    .artCollage{
        aspect-ratio: 1/1;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .artCollagecomp1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    .artCollagecomp2{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .artCollagecomp3{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .artCollagecomp4{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .artCollagecomp5{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .artCollagecomp6{
        grid-column: 3/5;
        grid-row: 2/4;
    }
    
    .artCollagecomp7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .artCollagecomp8{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    
    .artCollagecomp9{
        grid-column: 3/5;
        grid-row: 4/5;
    }
    
    .artCollagecomp10{
        display: none;
    }
    
    .artCollagecomp11{
        display: none;
    }
}